@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --color-background: rgba(11, 19, 43, 1);
    --text-white: white;
    --color-custom1: rgba(111, 255, 233, 1);
    --color-custom2: rgba(28, 37, 65, 1);
    --color-custom3: rgba(58, 80, 107, 1);
    --color-highlight: rgb(255, 22, 92);
}


* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}



body {
    background-color: var(--color-background);
}

/* -----------------------------------------------------Navbar Styling-------------------------------------------------------------------- */
nav {
    background-color: var(--color-background);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.418);
    margin-bottom: 50px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15vmin 0 60px;
}

nav li {
    height: 70px;
}

nav a {
    height: 100%;
    padding: 0  30px;
    margin: 0 30px;
    font-family: "Poppins";
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    color: white;
}

nav a::before {
    content: '';
    position:absolute;
    bottom: 4px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--color-custom1);
    transition: .1s ease;
}

nav a:hover::before {
    width: 100%;
    box-shadow: 0 5px 10px var(--color-custom1,),
                0 5px 15px var(--color-custom1),
                0 5px 20px var(--color-custom1);
}


nav li:first-child {
    margin-right: auto;
}

.menu-button{
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 9;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
    display: none;
}


.sidebar li:first-child {
    color: var(--color-custom1);
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}
/* -----------------------------------------------------universal Styling-------------------------------------------------------------------- */
.section {
    padding: 0 90px;
    margin: 0 auto;
}

.headerTitle {
    color: var(--color-custom1);
    display: flex;
    justify-content: center;
    padding: 0 0 20px;
}

.sendbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.custombtn {
    display: flex;
    justify-content: start;
    padding-bottom: 30px;
}
.custombtn .button{
    text-decoration: none;
    text-align: center;
}
.button {
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: black;
    background-color: var(--color-custom1);
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    width: 7rem;
    transition: all .3s;
}

.button:hover {
    box-shadow: 0 0  5px var(--color-custom1),
                0 0  10px var(--color-custom1),
                0 0  20px var(--color-custom1);
    transform: scale(1.1);
}
.prev-page{
    display: flex;
    justify-content:flex-start;
}

.prev-page a{
    text-decoration: none;
    color: var(--color-custom1);
    font-size: 20px;
}

.prev-page a:hover {
    text-shadow: 0 0 5px var(--color-custom2),
                0 0 10px var(--color-custom1),
                0 0 25px var(--color-custom1);
}

/* -----------------------------------------------------Main section Styling-------------------------------------------------------------------- */
.main {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

.leftSide p{
    line-height: 30px;
    color: white;
    border-bottom: 1px solid var(--color-custom1);
    width: fit-content;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.icons ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icons li {
    color: var(--color-custom1);
    text-decoration: none;
    font-size: 5vmin;
}

.icons i{
    padding: 0 4vmin;
    transition: .5s;
}

.leftSide i:hover {
    transform: scale(1.5);
}

.main .cover{
    display: flex;
    background: white;
    width: 55vmin;
    height: auto;
    will-change: transform;
    transition: .5s ease-in-out;
}

.main .cover:hover{
    transform: translateY(-10px);
}

.main .cover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(11, 19, 43, 0.5), rgba(111, 255, 233, 1));
    transition: all .3s;
    opacity: 0;
}
.main .cover:hover::before{
    opacity: 1;
}



.cover .info {
    position: absolute;
    color: white;
    opacity: 0;
    transform: translateY(-20px);
    transition: .3s;
    padding: 20px;
}
.cover:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.info ul {
    display: block;
    list-style: none;
}

.info li{
    color: white;
    font-size: 3vmin;
    padding-top: 10px;
}

.main  img {
    width: 55vmin;
    height: auto;
    box-shadow: -10px 10px 5px -5px var(--color-custom3);
    border-left: 3px solid var(--color-custom1);
    border-bottom: 3px solid var(--color-custom1);
    background: rgb(11,19,43);
    background: linear-gradient(180deg, rgba(11,19,43,1) 13%, rgba(24,36,60,1) 65%, rgba(58,80,107,1) 100%);
} 


.rightSide {
    float: right;
    color: white;
    font-family: "Poppins", sans-serif;
}

.rightSide h3 {
    color: var(--color-highlight);
}

.rightSide h1 {
    color: var(--color-custom1);
}


.iconlink {
    float: right;
    width: 50%;
}

.iconlink ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}
.iconlink li {
    height: 70px;
}

.iconlink a {
    color: var(--color-custom1);
    font-size: 5vmin;
    padding: 0 20px;
}

.iconlink a:hover {
    text-shadow: 0 5px 10px var(--color-custom2),
                0 5px 20px var(--color-custom1),
                0 5px 30px var(--color-custom1);
}

/* -----------------------------------------------------Services section Styling-------------------------------------------------------------------- */

#services h5 {
    text-align: center;
    color: var(--color-custom1);
    font-size: 10vmin;
}

#services h4 {
    border-bottom: 3px solid var(--text-yellow-100);
    height: 3rem;
    color: var(--color-custom1);
    text-align: center;
}

#services .card{
    border: none;
    border-radius: 10px;
    height: 40vmin;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid var(--color-custom1);
    color: white;
    transition: all .5s ease;
}


#services .card:hover {
    cursor: pointer;
    box-shadow: 0 0  5px var(--color-custom1),
                0 0  10px var(--color-custom1),
                0 0  20px var(--color-custom1);
    transform: scale(1.05);
    min-height: 40vmin;
    height: fit-content;
    overflow: visible;
    z-index: 50;
}

#services .card:hover {
    overflow: hidden;
}

/* -----------------------------------------------------contacts page Styling-------------------------------------------------------------------- */

.contacts{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 50px;
}
.contacts .leftSide {
    border: 1px solid var(--color-custom1);
    box-shadow: 0 5px 10px var(--color-custom1);
    width: 100%;
    padding: 30px;
}

.contacts .leftSide h2 {
    color: var(--color-custom1);
    border-bottom: 1px solid var(--color-custom1);
    width: fit-content;
}

.contacts .leftSide ul {
    list-style-type: none;
}

.contacts .leftSide li{
    color: white;
    padding-bottom: 10px;
    font-size: 20px;
}

.contacts .leftSide .iconlink {
    color: white;
    padding-top: 60px;
}

/* -----------------------------------------------------contacts page right side Styling-------------------------------------------------------------------- */

.contacts .rightSide {
    float:right;
    border: 1px solid var(--color-custom2);
    box-shadow: 0 5px 10px var(--color-custom3);
    background-color: var(--color-custom2);
    width: 100%;
    padding: 35px;
}

.contacts .rightSide h2 {
    color: var(--color-custom1);
    border-bottom: 1px solid var(--color-custom1);
    width: fit-content;
}

.contacts .rightSide .sendEmail {
    padding: 30px;
}
/* -----------------------------------------------------Footer section Styling-------------------------------------------------------------------- */

.footer {
    background-color: var(--color-custom2);
    color: white;
    padding: 50px 0;
}

.footer .shortcuts {
    list-style: none;
}

.shortcuts li a{
    text-decoration: none;
    color: white;
}

.footer h5 {
    color: var(--color-custom1);
}
/* -----------------------------------------------------blog page Styling-------------------------------------------------------------------- */
.blogs {
    width: 75%;
    padding: 20px 0 20px;
    border: 1px solid var(--color-custom1);
    box-shadow: 1px -1px 20px 10px var(--color-background) inset, 
                0 0 5px var(--color-custom1);
    color: white;
    background-color: var(--color-custom2);
}
.bloglists ul{
    list-style: none;
    padding-right: 20px;
}
.bloglists li {
    padding: 10px;
    border-bottom: 1px solid var(--color-custom1);
    overflow: hidden;
    max-height: 100px;
}

.bloglists a {
    text-decoration: none;
    color: white;
}

.bloglists a:hover{
    opacity: .8;
}

.bloglists a h5 {
    color: var(--color-custom1);
}
.bloglists a small{
    color: rgb(255, 22, 92);
}

.bloglists a p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.detailedpost {
    color: white;
    min-height: 80vh;
}
.detailedpost h1 {
    color: var(--color-custom1);
}
.detailedpost small{
    color: rgb(255, 22, 92);
}
/* -----------------------------------------------------portfolio page Styling-------------------------------------------------------------------- */
.gallery {
    padding: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customcard{
    height: 25rem;
    width: 18rem;
    background-color: var(--color-custom3);
    border: 1px solid var(--color-custom1);
    border-radius: 20px;
    box-shadow: 0 5px 10px var(--color-custom1);
    overflow: hidden;
}

.customcard img {
    width: 100%;
    height: 180px;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

.customcard-title{
    color: var(--color-custom1);
    padding: 5px 0 5px 10px;
}

.customcard-body {
    color: white;
    padding: 0 0 5px 10px;
}

.gallery .custombtn {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
    padding: 10px;
}

.detailedgallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 80vh;
}
#carousel-example-1z{
    width: 90vmin;
    padding: 20px;
    border: 1px solid var(--color-custom1);
    background-color: var(--color-custom2);
}
.gallery-body{
    color: white;
    padding: 10px 0;
}

.detailedgallery .custombtn{
    justify-content: end;
    gap: 20px;
}
/* -----------------------------------------------------animation Styling-------------------------------------------------------------------- */
